absl-py==1.0.0
biopython==1.80
chex==0.0.7
dm-haiku==0.0.5
dm-tree==0.1.6
https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.1.75+cuda11.cudnn805-cp310-none-manylinux2010_x86_64.whl
immutabledict==2.0.0
jax==0.2.22
ml-collections==0.1.0
numpy==1.21.0
optax==0.0.9
pandas==1.3.4
protobuf==3.20.1
scipy==1.7.3
tensorflow==2.11.0
tensorflow-estimator==2.11.0
torch==1.10.1
typing-extensions==3.7.4.3
